.introductory__content {
  border: 1px solid green;
  margin-top: 12rem; }
  .introductory__content .logo {
    display: block;
    margin: auto;
    width: 10rem;
    height: 10rem;
    margin-bottom: 6rem; }
  .introductory__content .heading {
    text-align: center; }
    .introductory__content .heading__primary {
      font-size: 3.9rem;
      margin-bottom: 3rem;
      color: var(--color-dark-gray); }
      .introductory__content .heading__primary--description {
        margin-top: 2rem;
        display: block;
        font-weight: 400;
        font-size: 1.8rem;
        line-height: 1.6; }
  .introductory__content .btn__download {
    text-align: center; }
    .introductory__content .btn__download--iOS:link, .introductory__content .btn__download--iOS:visited {
      text-decoration: none;
      background-color: var(--color-primary-cyan);
      padding: 1rem 2rem;
      color: #fff;
      border-radius: 1000px; }
    .introductory__content .btn__download--Mac:link, .introductory__content .btn__download--Mac:visited {
      text-decoration: none;
      background-color: var(--color-primary-blue);
      padding: 1rem 2rem;
      color: #fff;
      border-radius: 1000px; }

body {
  font-size: 1.8rem;
  font-family: "Bai Jamjuree", sans-serif;
  font-weight: 400; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

:root {
  --color-primary-cyan: hsl(171, 66%, 44%);
  --color-primary-blue: hsl(233, 100%, 69%);
  --color-dark-gray: hsl(210, 10%, 33%);
  --color-gray: hsl(201, 11%, 66%); }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 144rem; }
