.introductory__content {
  border: 1px solid green;
  margin-top: 12rem; }
  .introductory__content .logo {
    display: block;
    margin: auto;
    width: 10rem;
    height: 10rem;
    margin-bottom: 6rem; }
  .introductory__content .heading {
    text-align: center; }
    .introductory__content .heading__primary {
      margin-bottom: 2rem;
      color: var(--color-dark-gray); }
    .introductory__content .heading__secondary {
      color: var(--color-gray);
      margin-bottom: 6rem; }
  .introductory__content .btn__download {
    text-align: center; }

body {
  font-size: 1.8rem;
  font-family: "Bai Jamjuree", sans-serif;
  font-weight: 400; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

:root {
  --color-primary-cyan: hsl(171, 66%, 44%);
  --color-primary-blue: hsl(233, 100%, 69%);
  --color-dark-gray: hsl(210, 10%, 33%);
  --color-gray: hsl(201, 11%, 66%); }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 144rem; }
