*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  //PRIMARY
  --color-primary-cyan: hsl(171, 66%, 44%);
  --color-primary-blue: hsl(233, 100%, 69%);
  //NEUTRAL
  --color-dark-gray: hsl(210, 10%, 33%);
  --color-gray: hsl(201, 11%, 66%);
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 144rem;
}
