.introductory__content {
  margin-top: 12rem;

  .logo {
    display: block;
    margin: auto;

    width: 10rem;
    height: 10rem;
    margin-bottom: 6rem;
  }

  .heading {
    //Align descripton with h1,find a better way !!!

    text-align: center;

    &__primary {
      font-size: 3.9rem;
      margin-bottom: 3rem;
      color: var(--color-dark-gray);

      &--description {
        margin-top: 2rem;
        display: block;
        font-weight: 400;
        font-size: 1.8rem;
        line-height: 1.6;
      }
    }
  }

  .btn__download {
    display: flex;
    justify-content: center;
    gap: 2rem;

    //implement 3d btn efect, and click
    .btn {
      text-decoration: none;
      padding: 1rem 2rem;
      color: #fff;
      border-radius: 1000px;
      box-shadow: -1px 1px 20px 3px rgba(0, 0, 0, 0.33);
    }

    &--iOS:link,
    &--iOS:visited {
      background-color: var(--color-primary-cyan);
    }

    &--iOS:hover,
    &--iOS:active {
      background-color: var(--color-primary-cyan);
    }

    &--Mac:link,
    &--Mac:visited {
      background-color: var(--color-primary-blue);
    }

    &--Mac:hover,
    &--Mac:active {
      background-color: var(--color-primary-blue);
    }
  }
}
