.introductory__content {
  border: 1px solid green;
  margin-top: 12rem;

  .logo {
    display: block;
    margin: auto;

    width: 10rem;
    height: 10rem;
    margin-bottom: 6rem;
  }

  .heading {
    //Align descripton with h1,find a better way !!!

    text-align: center;

    &__primary {
      font-size: 3.9rem;
      margin-bottom: 3rem;
      color: var(--color-dark-gray);

      &--description {
        margin-top: 2rem;
        display: block;
        font-weight: 400;
        font-size: 1.8rem;
        line-height: 1.6;
      }
    }
  }

  .btn__download {
    text-align: center;

    &--iOS:link,
    &--iOS:visited {
      text-decoration: none;
      background-color: var(--color-primary-cyan);
      padding: 1rem 2rem;
      color: #fff;
      border-radius: 1000px;
    }

    &--Mac:link,
    &--Mac:visited {
      text-decoration: none;
      background-color: var(--color-primary-blue);
      padding: 1rem 2rem;
      color: #fff;
      border-radius: 1000px;
    }
  }
}
